[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docker-topo = {git = "https://github.com/networkop/docker-topo.git"}
packaging = "==21.3"

[dev-packages]

[requires]
python_version = "3.8"
